#personyze_top_banner {
	padding: 0; 
	width: 100%; 
	height: auto;
	
	.cdp-banner-image {
		background-size: cover;
		background-position: center;
		color: white;
		position: relative;
		width: 100%;
		height: calc(100vh - 96px);

		@media screen and (min-width: 575px) { 
			.cdp-web {
				display: none;
			}
		}
	}
}


#personyze_top_banner .cdp-banner-content {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 45px 0;
	margin: 0 5%;
	display: flex;
	flex-direction: column;
	max-width: 480px;
	
	p.cdp-title {
		color: #FFFFFF;
		font-weight: 900;
		font-size: 54px;
		line-height: 100%;
		margin: 0;
	}

	span.cdp-subtitle {
		color: #FFFFFF;
		font-weight: 350;
		font-size: 1rem;
		line-height: 100%;
		letter-spacing: 0;
		margin: 1rem 0;
	}

	p.buttons {
		font-weight: 600;
		font-size: 12px;
		letter-spacing: 1.5px;
		line-height: 17.11px;
		margin: 1rem 0;
	}
}

#personyze_top_banner a.cdp-btn-solid {
	text-align: center;
	padding: 12px 24px;
	border: 1px solid white;
	color: #101010;
	background-color: white;
	text-transform: uppercase;
	text-decoration: none;
}

#personyze_top_banner a.cdp-btn-outline {
	text-align: center;
	padding: 12px 24px;
	border: 1px solid white;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}
	

