#personyze_top_banner {
	padding: 0; 
	width: 100%; 
	height: auto;
	
	.cdp-banner-image {
		background-size: cover;
		background-position: center;
		color: white;
		position: relative;
		width: 100%;
		height: 100%
	}
}


#personyze_top_banner .cdp-banner-content {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 45px 0;
	margin: 0 5%;
	display: flex;
	flex-direction: column;
	max-width: 400px;
	

	p.cdp-title {
		color: #FFFFFF;
		font-weight: 900;
		font-size: 3rem;
		line-height: 100%;
		margin: 0;
	}

	span.cdp-subtitle {
		color: #FFFFFF;
		font-weight: 350;
		font-size: 1rem;
		line-height: 100%;
		letter-spacing: 0;
		margin: 1rem 0;
	}

	p.cdp-buttons {
		font-weight: 600;
		font-size: 12px;
		letter-spacing: 1.5px;
		line-height: 17.11px;
		margin: 1rem 0;
	}

	p.cdp-buttons a {
		text-align: center;
		padding: 12px 24px;
		text-transform: uppercase;
		text-decoration: none;
		border: 1px solid white;
	}
}

#personyze_top_banner a.cdp-btn-solid {
	color: #101010;
	background-color: white;
}

#personyze_top_banner a.cdp-btn-outline {
	border: 1px solid white;
	color: white;
}

/* All sizes and big format (desktop) */
#personyze_top_banner .cdp-banner-image .cdp-web {
	display: block;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	vertical-align: middle;
	height: calc(100vh - 96px);
}
#personyze_top_banner .cdp-banner-image .cdp-mobile {
	display: none;
}

/* Tablet & Small Desktops */
@media screen and (max: 1199px) { 
	#personyze_top_banner .cdp-banner-image .cdp-mobile {
		display: none;
	}
	#personyze_top_banner .cdp-banner-image .cdp-web {
		display: block;
	}
}

/* Mobile */
@media screen and (max-width: 574px) { 
	#personyze_top_banner .cdp-banner-image .cdp-mobile {
		display: block;
	}
	#personyze_top_banner .cdp-banner-image .cdp-web {
		display: none;
	}
	#personyze_top_banner .cdp-banner-content p.cdp-buttons {
		font-size: .75rem;
	}
	#personyze_top_banner .cdp-banner-content p.cdp-buttons a {
		padding: 10px;
	}
}


